<div class="container searchBox">
    <div class="page-header hero">
        <h1>Advanced Querying</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <form>
        <div class="input-group">
            
            <span class="input-group-addon"><span class="fa fa-search"></span></span>
            <input type="text" class="form-control" placeholder="Buscar..." ng-model="searchText" ng-disabled="searching">
            <div class="input-group-btn">
               <button class="btn btn-primary" type="submit" ng-click="search($event)" ng-disabled="searching">Buscar</button>
            </div>
            
        </div>
        </form>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 alert alert-info">
        <ul class="list-unstyled">
            <li><a href="https://msdn.microsoft.com/en-us/library/azure/mt589323.aspx#bkmk_fuzzy" target="_blank"><span class="fa fa-link"></span> Fuzzy search</a>:<kbd>tap~1</kbd></li>
            <li><a href="https://msdn.microsoft.com/en-us/library/azure/mt589323.aspx#bkmk_proximity" target="_blank"><span class="fa fa-link"></span> Proximity search</a>:<kbd>"back future"~2</kbd></li>
            <li><a href="https://msdn.microsoft.com/en-us/library/azure/mt589323.aspx#bkmk_termboost" target="_blank"><span class="fa fa-link"></span> Term boosting</a>:<kbd>indiana jones temple^2</kbd></li>
        </ul>
    </div>
</div>    

<div class="container" >
    <div class="col-xs-12">
        <div class="col-xs-12 text-xs-center" ng-show="searching">
                <h4>Buscando...</h4><br>
                <img src="images/loader.gif" class="center-block">
        </div>
        <div  class="col-xs-12 text-xs-center" ng-show="!searching && results.Count == 0">
            No encontramos resultados
        </div>
        <div  class="col-xs-12" ng-show="!searching && results.Count > 0">
        <h4>Hay <strong>{{results.Count}}</strong> resultados de búsqueda</h4>           
        <div class="col-xs-12">
            <div class="col-sm-6 col-xs-12" ng-repeat="item in results.Results">
                <div class="card result-item" >
                    <div class="card-img-top">
                        <img class="img-fluid" ng-src="{{curateUrl(item.Document.imdbPictureURL)}}" alt="Card image cap">
                    </div>                    
                    <div class="card-block">
                        <h4 class="card-title">{{item.Document.title}}</h4>
                        
                        <small class="text-muted">{{item.Document.spanishTitle}}</small>
                        <p class="card-text">Año: {{item.Document.year}}</p>
                        <p class="card-text">Puntaje: {{item.Document.rtAllCriticsRating}}</p>
                        <p class="card-text">Géneros: <a href="#" class="label label-default label-pill" ng-click="filter($event, 'genreTags', genre)" ng-repeat="genre in item.Document.genreTags">{{genre}}</a></p>
                        <a href="http://www.imdb.com/title/tt{{item.Document.imdbID}}" class="card-link" target="_blank">Ver en Imdb</a>
                        <p class="card-text"><small class="text-muted"><strong>Score</strong> {{item.Score}}</small></p>
                    </div>

                </div>
           </div>
            
        </div>
        <nav class="clearfix" ng-show="results.Count > 0">
            <ul class="pager">
                <li class="pager-prev" ng-show="page > 1"><a href="#" ng-click="prev($event)"><span aria-hidden="true">&larr;</span> Older</a></li>
                <li class="pager-next"><a href="#" ng-click="next($event)">Newer <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
        </div>
    </div>
</div>