<div class="container">
    <div class="page-header hero">
        <h1>Analytics</h1>
    </div>
</div>

<div class="container-fluid">
    <iframe width="100%" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiOTk3NjQ0YzMtMTg4My00MGI2LWE0ZmYtZTg0ZDU1NzJiZDI2IiwidCI6IjAzOGQzYWY4LWQ4ZmUtNGM5OS04MjE2LTk2YzM0ZmZlMmY0YiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
</div>