<div class="container">
        <img src="images/ufo.png" class="center-block img-responsive">
        <div class="text-xs-center">
            <h1>¡Gracias!            
            <br><small class="text-muted"><a href="https://blogs.msdn.microsoft.com/mvpawardprogram/2016/02/02/a-hitchhikers-guide-to-search/" target="_blank"><span class="fa fa-link"></span> más info</a></small>
            </h1>
        </div>
</div>

<div class="container bottombar">
     <div class="navbar navbar-dark bg-primary">
    <div class="col-xs-12 col-sm-3 text-xs-center"><a target="_blank" href="https://twitter.com/Ealsur"><h3><span class="fa fa-twitter"></span> @@ealsur</a></h3></div>
    <div class="col-xs-12 col-sm-3 col-sm-offset-6 text-xs-center"><a target="_blank" href="https://github.com/ealsur/gab16search"><h3><span class="fa fa-github"></span> Github repo</a></h3></div>
    </div>
</div>