<div class="container-fluid presentation" style="background:none">
  <div class="row text-xs-center">
      <h1><strong>Gracias!</strong></h1>
      <h2><a target="_blank" href="https://twitter.com/ealsur"><i class="fa fa-twitter"></i> @@ealsur</a></h2>
      <h2><a target="_blank" href="http://www.ealsur.com.ar"><i class="fa fa-wordpress"></i> www.ealsur.com.ar</a></h2>
      <h2><a target="_blank" href="https://github.com/ealsur"><i class="fa fa-github"></i> github.com/ealsur</a></h2>
      <h2><a target="_blank" href="https://blogs.msdn.microsoft.com/mvpawardprogram/2016/02/02/a-hitchhikers-guide-to-search"><i class="fa fa-globe"></i> A Hitchhiker's Guide to Azure Search</a></h2>
  </div>
 </div> 
