<div class="container-fluid" style="height:calc(100% - 100px);">
        <img src="images/ufo.png" class="center-block img-responsive">
        <div class="text-xs-center">
            <h1 style="font-size:3em;">¡Gracias!            
            <br><small class="text-muted"><a href="https://blogs.msdn.microsoft.com/mvpawardprogram/2016/02/02/a-hitchhikers-guide-to-search/" target="_blank"><span class="fa fa-link"></span> más info</a></small>
            </h1>
            <a target="_blank" href="https://github.com/ealsur/gab16search"><h2><span class="fa fa-github"></span> Github repo</h2></a>
        </div>
        
</div>