<div class="container-fluid presentation" style="background:none">
  <div class="row text-xs-center">
      <h1><strong>Gracias!</strong></h1>
      <h2><a target="_blank" href="https://twitter.com/ealsur"><i class="fa fa-twitter"></i> @@ealsur</a></h2>
      <h2><a target="_blank" href="https://github.com/ealsur/gab16search"><i class="fa fa-github"></i> Github repo</a></h2>
  </div>
 </div> 
