<div class="container searchBox">
    <div class="page-header hero">
        <h1>Facets y Filters</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <form>
        <div class="input-group">
            
            <span class="input-group-addon"><span class="fa fa-search"></span></span>
            <input type="text" class="form-control" placeholder="Buscar..." ng-model="searchText" ng-disabled="searching">
            <div class="input-group-btn">
               <button class="btn btn-primary" type="submit" ng-click="search($event)" ng-disabled="searching">Buscar</button>
            </div>
        </div>
        </form>         
    </div>
  </div>

        
    </div>
</div>    

<div class="container" >
    <div class="col-sm-3" ng-show="results.Count">
        <div class="card card-block" ng-show="filters">
        <h4  class="card-title">Filtros aplicados</h4>
        <ul  class="list-unstyled">
            <li ng-repeat="(key, value) in filters"><a href="#" ng-click="filter($event, key, value)"><span class="fa fa-minus-circle"></span></a> {{getDescriptionByKey(key)}} {{value}}</li>
        </ul>                        
        </div>
        <span uib-tooltip="Facets y Filters" tooltip-is-open="showTooltips" tooltip-placement="bottom" tooltip-enable="showTooltips"></span>
        <div class="card card-block"  ng-repeat="(key, value) in results.Facets">
        <h4  class="card-title">{{getDescriptionByKey(key)}}</h4>
        <ul  class="list-unstyled">
            <li ng-repeat="filtro in value" ng-if="filtro.value"><a href="#" ng-click="filter($event, key, filtro.value)"><span class="fa fa-filter"></span> {{filtro.value}}</a> <span class="label label-default label-pill pull-right">{{filtro.count}}</span></li>
        </ul>                        
        </div>
    </div>
    <div class="col-sm-9">
        <div class="col-xs-12 text-xs-center" ng-show="searching">
                <h4>Buscando...</h4><br>
                <img src="images/loader.gif" class="center-block">
        </div>
        <div  class="col-xs-12 text-xs-center" ng-show="!searching && results.Count == 0">
            No encontramos resultados
        </div>
        <div  class="col-xs-12" ng-show="!searching && results.Count > 0">
        <h4 uib-tooltip="Resultados de busqueda" tooltip-is-open="showTooltips" tooltip-placement="bottom" tooltip-enable="showTooltips">Hay <strong>{{results.Count}}</strong> resultados de búsqueda</h4>           
        <div class="col-xs-12">
            <div class="col-sm-6 col-xs-12" ng-repeat="item in results.Results">
                <div class="card result-item">
                    <div class="card-img-top">
                        <img class="img-fluid" ng-src="{{curateUrl(item.Document.imdbPictureURL)}}" alt="Card image cap">
                    </div>                    
                    <div class="card-block">
                        <h4 class="card-title">{{item.Document.title}}</h4>
                        <p class="card-text">Año: {{item.Document.year}}</p>
                        <p class="card-text">Puntaje: {{item.Document.rtAllCriticsRating}}</p>
                        <p class="card-text">Géneros: <a href="#" class="label label-default label-pill" ng-click="filter($event, 'genreTags', genre)" ng-repeat="genre in item.Document.genreTags">{{genre}}</a></p>
                        <a href="http://www.imdb.com/title/tt{{item.Document.imdbID}}" class="card-link" target="_blank">Ver en Imdb</a>
                        <p class="card-text"><small class="text-muted"><strong>Score</strong> {{item.Score}}</small></p>
                    </div>

                </div>
           </div>
        </div>
        <nav class="clearfix" ng-show="results.Count > 0">
            <ul class="pager">
                <li class="pager-prev" ng-show="page > 1"><a href="#" ng-click="prev($event)"><span aria-hidden="true">&larr;</span> Anteriores</a></li>
                <li class="pager-next"><a href="#" ng-click="next($event)">Siguientes <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
        </div>
    </div>
</div>