<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>NET Conf UY - Azure Search</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
        <environment names="Development">
            <link rel="stylesheet" href="~/content/css/json-formatter.css" />
            <link rel="stylesheet" href="~/content/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/lib/css/json-formatter.min.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/lib/css/site.min.css" asp-append-version="true" />
            
        </environment>
    </head>
    <body ng-app="searchPlayground" style="background-color:black">
    <div ng-controller="ChromeController" class="container-fluid" >
            <div ng-show="!loaded" class="splash">
                <img src="images/avatar-original.png" class="m-x-auto d-block">
                <div class="text-xs-center">
                    <img src="images/loader.gif" class="m-x-auto d-block">
                </div>
            </div>
            <div ng-show="loaded" class="container-fluid" ng-cloak style="height:100%;">
                <nav class="navbar navbar-dark"  style="background-color:white;margin-left:-30px;margin-right:-30px;">
                    <a class="navbar-brand" href="#"><img alt="Brand" src="images/netconfuy.signature.png"></a>
                    <ul class="nav navbar-nav hidden-md-down">
                            <li ng-repeat="crumb in crumbs | filter:'!nocrumb'" class="nav-item">
                                <span ng-if="!$last" class="text-muted">{{crumb}} &gt;</span>
                                <span ng-if="$last">{{crumb}}</span>
                            </li>
                        </ul>
                    <div class="logCaller pull-xs-right" ng-show="currentLog"><button class="btn btn-primary" data-toggle="modal" data-target="#jsonViewer" uib-tooltip="Ver respuesta en formato JSON" tooltip-is-open="showTooltips" tooltip-enable="showTooltips" tooltip-placement="bottom" ><span class="fa fa-eye"></span></button></div>
                </nav>                                
                <ui-view></ui-view>            
            </div>
            
                <div class="pull-xs-left bg-primary steps" ng-show="step>1 && loaded" ng-show="loaded" ng-cloak>
                    <a href="#" ng-click="prev($event)"><span class="fa fa-chevron-circle-left fa-2x"></span></a>
                </div>
                <div class="pull-xs-right bg-primary steps" ng-cloak ng-show="loaded && masterStep>step && step<stepCount">
                    <a href="#" ng-click="next($event)"><span class="fa fa-chevron-circle-right fa-2x"></span></a>
                </div>
            
            
            
            <div class="modal fade" tabindex="-1" role="dialog" id="jsonViewer" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Raw Json</h4>
                    </div>

                    <div class="modal-body">
                        <div class="jsonViewerHolder">
                            <json-formatter json="currentLog" open="1"></json-formatter>
                        </div>
                    </div>
                   </div>
                </div>
                </div>
            
        </div>
        
        

<script type="text/ng-template" id="modalTwitter.html">
        <div class="modal-header">
            <h3 class="modal-title"><i class="fa fa-twitter"></i> ¡Bienvenido!</h3>
        </div>
        <div class="modal-body">
            <h4>¡Esto es un experimento!</h4>
            Si deseas participar, te pido indiques aquí abajo el nombre de tu cuenta de Twitter ;)
            <form name="twitterForm">
            <div class="input-group" ng-class="{'has-danger': twitterForm.account.$dirty && twitterForm.account.$invalid}">
            <span class="input-group-addon">@@</span>
            <input type="text" class="form-control" ng-model="account" placeholder="Nombre del usuario de twitter" required name="account">
            </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="twitterForm.$invalid"><i class="fa fa-spinner fa-spin" ng-show="loading"></i> Claro que sí!</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">No gracias!</button>
        </div>
    </script>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.3.1/js/tether.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>    
        <environment names="Development">
            <script src="~/lib/js/layout/angular.min.js"></script>
            <script src="~/lib/js/layout/angular-cookies.min.js"></script>
            <script src="~/lib/js/layout/ui-bootstrap-tpls.min.js"></script>
            <script src="~/lib/js/layout/angular-ui-router.min.js"></script>
            <script src="~/lib/js/layout/json-formatter.min.js"></script>
            <script src="~/lib/js/layout/angular-sanitize.min.js"></script>            
            <script src="~/content/js/app.js"></script>
            <script src="~/content/js/chromecontroller.js"></script>
            <script src="~/content/js/stepcontroller.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/lib/js/bundle/layout.js" asp-append-version="true"></script>           
            <script src="~/lib/js/app.min.js" asp-append-version="true"></script>
            <script src="~/lib/js/chromecontroller.min.js" asp-append-version="true"></script>
            <script src="~/lib/js/stepcontroller.min.js" asp-append-version="true"></script>
        </environment>       
    </body>
</html>
