<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - gab16search</title>
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <environment names="Development">
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/lib/site.min.css" asp-append-version="true" />
        </environment>
    </head>
    <body ng-app="searchPlayground">
        <div ng-controller="ChromeController">{{step}}</div>
        <div class="container body-content">
            <ui-view></ui-view>            
        </div>
 
        <environment names="Development">
            <script src="~/lib/js/layout/angular.min.js"></script>
            <script src="~/lib/js/layout/angular-cookies.min.js"></script>
            <script src="~/lib/js/layout/ui-bootstrap-tpls.min.js"></script>
            <script src="~/lib/js/layout/angular-ui-router.min.js"></script>
            <script src="~/content/js/app.js"></script>
            <script src="~/content/js/chromecontroller.js"></script>
            <script src="~/content/js/stepcontroller.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/lib/js/bundle/layout.js" asp-append-version="true"></script>           
            <script src="~/lib/js/app.min.js" asp-append-version="true"></script>
            <script src="~/lib/js/chromecontroller.min.js" asp-append-version="true"></script>
            <script src="~/lib/js/stepcontroller.min.js" asp-append-version="true"></script>
        </environment>       
    </body>
</html>
