
<div class="container-fluid ">
<div class="row push-down">
  <div class="col-xs-12 col-md-4 hidden-sm-down"><div class="pcircle bg-info img-circle" title="SaaS = Sin infraestructura para mantener"><h4>SaaS</h4></div></div>
  <div class="col-xs-12 col-md-4 hidden-sm-down"><div class="pcircle bg-success img-circle" title="Scalable, Fault-Tolerant & replication support"><h4><i class="fa fa-mixcloud fa-2x"></i></h4></div></div>
  <div class="col-xs-12 col-md-4 hidden-sm-down"><div class="pcircle bg-inverse img-circle" title="Full-Text Search Multi-lenguaje"><h4><i class="fa fa-search fa-2x"></i></h4></div></div>
</div>

<div class="row push-down">
  <div class="col-xs-12 col-md-4  hidden-sm-down"><div class="pcircle bg-warning img-circle" title="Faceting"><h4><i class="fa fa-list fa-2x"></i></h4></div></div>
  <div class="col-xs-12 col-md-4 text-xs-center hero"><h1>motor <br>de <strong>búsqueda</strong> <br>como <strong>servicio</strong></h1></div>
  <div class="col-xs-12 col-md-4 hidden-sm-down"><div class="pcircle bg-warning img-circle" title="Soporte geo-espacial"><h4><i class="fa fa-globe fa-2x"></i></h4></div></div>
</div>

<div class="row push-down">
  <div class="col-xs-12 col-md-4 hidden-sm-down"><div class="pcircle bg-inverse img-circle" title="Motor de sugerencias"><h4><i class="fa fa-commenting fa-2x"></i></h4></div></div>
  <div class="col-xs-12 col-md-4 hidden-sm-down"><div class="pcircle bg-success img-circle" title="Analytics"><h4><i class="fa fa-bar-chart fa-2x"></i></h4></div></div>
  <div class="col-xs-12 col-md-4 hidden-sm-down"><div class="pcircle bg-info img-circle" title="Análisis fonético"><h4><i class="fa fa-music fa-2x"></i></h4></div></div>
</div>

</div>