<div class="container">
<div class="text-xs-center hero">
    <h1>motor de <strong>búsqueda</strong> como <strong>servicio</strong></h1>
</div>
<ul>
    <li>Scalable, Fault-Tolerant & replication support</li>
    <li>SaaS = Sin infraestructura para mantener</li>
    <li>Full-Text Search</li>
    <li>Multi-Lenguaje</li>
    <li>Faceting</li>
    <li>Soporte geo-espacial</li>
    <li>Motor de sugerencias</li>
    <li>Analytics</li>
    <li>Sintáxis de Lucene</li>
</ul>
</div>