<div class="container searchBox">
    <div class="page-header hero">
        <h1>Scoring Profiles</h1>
    </div>
    <div class="col-xs-12 col-sm-6  offset-sm-3">
        <form>
        <div class="input-group">
            
            <span class="input-group-addon"><span class="fa fa-search"></span></span>
            <input type="text" class="form-control" placeholder="Buscar..." ng-model="searchText" ng-disabled="searching">
            <div class="input-group-btn">
               <button class="btn btn-primary" type="submit" ng-click="search($event)" ng-disabled="searching">Buscar</button>
            </div>
            
        </div>
        </form>
    </div>
</div>    

<div class="container" >
    <div class="col-sm-3">
        <div class="card card-block">
        <h4  class="card-title" uib-tooltip="Perfiles disponibles de busqueda" tooltip-is-open="showTooltips" tooltip-enable="showTooltips" tooltip-placement="bottom">Perfiles</h4>
        
        <div class="c-inputs-stacked">
        <label class="c-input c-radio">
        <input name="profile" type="radio" ng-model="profile" value="" ng-change="search($event)">
        <span class="c-indicator"></span>
        Default
        </label>
        <label class="c-input c-radio">
        <input name="profile" type="radio" ng-model="profile" value="Auto" ng-change="search($event)">
        <span class="c-indicator"></span>
        Relacionados a un auto
        </label>
        <label class="c-input c-radio">
        <input name="profile" type="radio" ng-model="profile" value="PorViews" ng-change="search($event)">
        <span class="c-indicator"></span>
        Más vistas
        </label>   
        <label class="c-input c-radio">
        <input name="profile" type="radio" ng-model="profile" value="Completo" ng-change="search($event)">
        <span class="c-indicator"></span>
        Completo
        </label>   
        </div>      
        <fieldset class="form-group" ng-show="profile == 'Completo'">

            <label>Simular usuario del país:</label>
            <select class="form-control" ng-model="tag" size="1">
                <option value="">Seleccionar</option>
                <option value="Mexico">Mexico</option>
                <option value="Venezuela">Venezuela</option>
                <option value="Hispanic">USA</option>
                <option value="Argentina">Argentina</option>
                <option value="Colombia">Colombia</option>
                <option value="Chile">Chile</option>
                <option value="Ecuador">Ecuador</option>
                <option value="Uruguay">Uruguay</option>
                <option value="Peru">Perú</option>
                </select>

        </fieldset>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="col-xs-12 text-xs-center" ng-show="searching">
                <h4>Buscando...</h4><br>
                <img src="images/loader.gif" class="center-block">
        </div>
        <div  class="col-xs-12 text-xs-center" ng-show="!searching && results.Count == 0">
            No encontramos resultados
        </div>
        <div  class="col-xs-12" ng-show="!searching && results.Count > 0">
        <h4>Hay <strong>{{results.Count}}</strong> resultados de búsqueda</h4>           
             <div class="col-xs-12" ng-repeat="item in results.Results">
                <div class="media result-item">
                    <div class="media-left media-middle">
                        <img class="media-object" ng-src="{{item.Document.ImageUrl}}">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a href="{{item.Document.Link}}" target="_blank">{{item.Document.Title}}</a></h4>
                         <small class="text-muted">{{item.Document.Description}}</small>
                         <p><u>Publicado</u>: {{item.Document.Date | date : 'dd/MM/yyyy'}}</p>
                        <p><u>Categoría</u>: {{item.Document.Category}} <u>Visitas</u>: {{item.Document.Views}}</p>
                        <p><u>Auto</u>: <a href="#" class="label label-default label-pill" ng-repeat="genre in item.Document.TagsModelos">{{genre}}</a></p>
                        <h4 class="media-heading"><strong>Score</strong> {{item.Score}}</h4>
                    </div>
                    </div>             
                
           </div>
            
        <nav class="clearfix" ng-show="results.Count > 0">
            <ul class="pager">
                <li class="pager-prev" ng-show="page > 1"><a href="#" ng-click="prev($event)"><span aria-hidden="true">&larr;</span> Anteriores</a></li>
                <li class="pager-next"><a href="#" ng-click="next($event)">Siguientes <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
        </div>
    </div>
</div>