<div class="container-fluid presentation">
  <div class="row text-xs-center">
      <h1>un <strong>paseo</strong> <small>por</small> Azure <strong>Search</strong></h1><br>
      <h2><i class="fa fa-globe"></i> search16.azurewebsites.net</h2>
      <div class="pull-xs-left"><h2><br>Matías Quaranta<br><br>Cloud Dev Lead</h2></div>
      <div class="pull-xs-right" style="background-color:white"><h2><a href="http://www.autocosmos.com.ar" target="_blank"><img src="images/autocosmos.png"/></a></h2></div>
  </div>
 </div> 