<div class="container-fluid presentation">
  <div class="row text-xs-center">
      <h1>un <strong>paseo</strong> <small>por</small> Azure <strong>Search</strong></h1><br>
      <h2 style="background-color:black"><i class="fa fa-globe"></i> search16.azurewebsites.net</h2>
      <div class="center-block"><h2><br>Matías Quaranta<br><br>Cloud Dev Lead</h2>
      <div><a href="http://www.autocosmos.com.ar" target="_blank"><img src="images/autocosmos.png" style="background-color:white;"/></a></div>
      </div>
  </div>
 </div> 