<div class="container-fluid presentation">
  <div class="row text-xs-center">
      <h1>un <strong>paseo</strong> <br><small>por</small> <br>Azure <strong>Search</strong></h1><br>
      <h2><i class="fa fa-globe"></i> search16.azurewebsites.net</h2>
  </div>
  <div class="row band">
      <div class="pull-xs-left"><h2>Matías Quaranta <small><a href="https://www.twitter.com/ealsur" target="_blank">@@ealsur</a></small></h2></div>
      <div class="pull-xs-right  hidden-xs"><a href="http://www.autocosmos.com.ar" target="_blank"><img src="images/autocosmos.png"/></a>&nbsp;<a href="https://mvp.microsoft.com/en-us/mvp/Mat%C3%ADas%20%20Quaranta-5001078" target="_blank"><img src="images/mvp.png"/></a></div>
   </div>
 </div> 