<div class="container">
        <img src="images/Azure Search.png" class="center-block img-responsive">
    <div class="text-xs-center">
        <a href="https://azure.microsoft.com/pricing/details/search/" target="_blank"><h1>¡Es gratis!<br><small class="text-muted"><span class="fa fa-link"></span> ¡probar ahora!</small></h1></a>
    </div>
</div>