<!DOCTYPE html>
<html  style="width:100%; height:100%;">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
    </head>
     <body ng-app="searchPlayground" ng-controller="MasterController" style="width:100%; height:100%;">
         <button type="button" style="width:100%; height:100%;background-color:yellow;" ng-click="next()">
             {{step}}
         </button>   
             
         <script src="~/lib/js/layout/angular.min.js"></script>
         <environment names="Development">            
            <script src="~/content/js/master.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/lib/js/master.min.js" asp-append-version="true"></script>
        </environment>   
     </body>
</html>