html,body{height:100%;}
body{
	position:relative;	
}
body>.container-fluid{
    background-color:#eee;   
    height:100%;
}
.splash{
    height:100%;
    color:#0089D1;     
}
.hero h1{
    color:#0089D1;
}
.hero h1 strong{
    color:#0089D1;
    font-size:1.5em;
}
.navbar img{
    width:50px;
}
.navbar .navbar-text{
    padding:0 !important;
}
.navbar-brand{
    padding:0;
    margin-left:1em !important;
}