html,body{height:100%;}
body{
	position:relative;	
}
body>.container-fluid{   
    height:100%;
}
.splash{
    color:#0089D1;    
    position: relative;
  top: 50%;
  transform: translateY(-50%);
 
}
.splash img{
    max-width:300px;
}
.hero h1{
    color:#0089D1;
}
.hero h1 strong{
    color:#0089D1;
    font-size:1.5em;
}
.navbar img{
    width:50px;
}
.navbar .nav-item{
    padding-top:1em;
}
.navbar-brand{
    padding:0;
    margin-left:1em !important;
}
.steps{
    position:absolute;
    bottom:0px;
    z-index:20;
}
.searchBox{
    margin-bottom:2em;
}
.navbar-nav .nav-item+.nav-item {
    margin-left: 0.5rem;
}
.card-img-top{
    max-height:200px;
    overflow:hidden;
}
.card-img-top .img-fluid{
    width:100%;
}